<form method="post" action="{{ path('produkt_delete', {'id': produkt.id}) }}" onsubmit="return confirm('Opravdu chcete vymazat tuto položku?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produkt.id) }}">
    <button class="btn">Vymazat</button>
</form>