{% extends 'base.html.twig' %}



{% block body %}


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Pokusný eshop</h1>
         
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Přejít na Košík</a></p>
        </div>
        
         
        
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Kategorie produktů</h2>
            <p>Kategorie 1 </p>
             <p>Kategorie  2 </p>
              <p>Kategorie  3 </p>
            <p><a class="btn btn-secondary" href="#" role="button">Vyhledávání v kategoriích</a></p>
          </div>
          <div class="col-md-4">
            <h2>Seznam nabízených produktů</h2>
             <p>Produkt 1 </p>
             <p>Produkt  2 </p>
              <p>Produkt  3 </p>
            <p><a class="btn btn-secondary" href="#" role="button">Vyhledávání v produktech</a></p>
          </div>
          <div class="col-md-4">
            <h2>Doplňkové funkce</h2>
            <p>Košík</p>
            <p><a class="btn btn-secondary" href="#" role="button">Přejít na Košík</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

      
      
  
{% endblock %}
   